main{
    min-height: 60vh;
    /* margin-top: 15vh; */
    margin: 15vh auto;
}

table{
    display: inline-block;

}
.left{
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    color: var(--clr-blue);
    padding: 1rem;
}

.right{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #444444;
    padding: 1rem;
}